<template>
  <div>
        <div class="row clearfix">
            <div class="col-md-6">
                <b>Nome</b> {{produto.nome_produto}}
            </div>
            <div class="col-md-6">
                <b>Valor</b> R${{produto.valor_produto | mxFiltroFormatarMoney}}
            </div>
            <div class="col-md-6">
                <b>Categoria</b> {{(produto.categoria || {}).nome_categoria}}
            </div>
        </div>

    <div class="row clearfix">
                                
        <div class="col-md-4 col-md-offset-8">
            <b>Data do cadastro: {{produto.data_cadastro | mxFiltroFormatarDataTimes}}</b>
        </div>
    </div>
  </div>
</template>

<script>
import MxFiltros from '@/filters/filters';
export default {
    name: 'Detalhes',
    props: ['produto'],
    mixins: [MxFiltros],
}
</script>

<style>

</style>