<template>
  <div class="container-fluid">
        <div class="block-header">
            <h2>Produtos > 
                <span v-if="mode == 'new'">Novo</span>
                <span v-else>Editar</span>
            </h2>
        </div>

         <!-- Hover Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2 v-if="mode == 'new'">
                                Novo cadastro
                            </h2>
                            <h2 v-else>
                                Edição de cadastro - {{produto.nome_produto}}
                            </h2>
                            
                            
                        </div>
                        <div class="body table-produtos">
                            <Alert v-if="isShowAlert" titulo="Atenção, verifique as informações abaixo:" :msgs="msgs"/>
                            <form>
                                    <div class="row">
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                 <label class="form-label">Nome do produto</label>
                                                <div class="form-line">
                                                    <input type="text" id="nome" required v-model="produto.nome_produto" class="form-control">
                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="form-label">Valor do Produto</label>
                                                <div class="form-line">
                                                    <input type="text" required id="cpf" v-model="produto.valor_produto" class="form-control" v-money="money">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Categoria</label>
                                                <div class="form-line">
                                                   <select class="form-control" v-model="produto.id_categoria_produto">
                                                        <option v-for="categoria in categorias" :key="categoria.id_categoria_planejamento" :value="categoria.id_categoria_planejamento">{{categoria.nome_categoria}}</option>
                                                    </select>
                                                    
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn waves-effect btn-primary btn-lg" @click="save()">Salvar</button>
                                             <router-link to="/produtos"> 
                                                <button type="button" class="btn waves-effect btn-lg" data-dismiss="modal">Cancela</button>
                                            </router-link>
                                        </div>
                                    </div>
                                </form>

                          
                        </div>
                    </div>
                </div>
            </div>


  </div>
</template>

<script>

import Alert from '@/components/widgets/Alert'
import MxFiltros from '@/filters/filters';
import {VMoney} from 'v-money'
export default {
    props: ['id'],
    name: 'Produtoform',
    components: {Alert},
    mixins: [MxFiltros],
    directives: {money: VMoney},
    data: function(){
        return {
            mode: 'new',
            produto: {},
            categorias: [],
            isShowAlert: false,
            msgs: [],
            money: {
                decimal: ',',
                thousands: '.',
                precision: 2,
                masked: true
            }
        }
    },

    methods:{
        loadCategorias(){
            this.$http.get('/categorias').then( res => {
                this.categorias = res.data.data
            })
        },

        loadProduto(id){
            this.$http.get('/produtos/'+id).then( res => {
                
                if(!res.data){
                    this.$router.push('/produtos')
                }

                this.produto = res.data
               
            }).catch((err) => {
               this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
            })
        },
        save(){

            
            this.isShowAlert = false
            this.msgs = []
            let method = (this.mode == 'new') ? 'post' : 'put'
            let id = (this.mode == 'new') ? '' : '/'+this.id
            
            let data = this.produto;
            console.log('this.produto', this.produto)

            this.$http[method]('/produtos'+id, data)
            .then( res => {
                this.showMsgToast('Produto salvo com sucesso!', 'sucesso', 'top-center')
                this.$router.push('/produtos')

            }).catch((err) => {
                if(err.response.status == 422){
                    this.isShowAlert = true;
                    this.msgs = err.response.data.error
                    this.showMsgToast('Campos obrigatórios não informados', 'erro')
                }else{
                    this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
                }
            })
        },

        clearProduto(){
            this.produto = {}
        },

        showMsgToast(msg, type,  direcao = 'bottom-center'){
            let icone = (type == 'erro') ? 'warning' : 'check'
            this.$toasted.show(msg,{ 
                theme: "bubble", 
                position: direcao,
                icon : icone
            })
        }
    },
    filters: {
        capitalize: function (value) {
            if (!value) return ''
            value = value.toString()
            return value.charAt(0).toUpperCase() + value.slice(1)
        }
    },

    mounted: function(){

        if(this.id){
          this.mode = 'edit'
          this.loadProduto(this.id);
        }
        this.loadCategorias();
        
    },


}
</script>

<style>
.table-produtos button{
    margin-right: 10px;
}

.header button{
    float: right;
}

</style>