<template>
  <div class="container-fluid">
        <div class="block-header">
            <h2>PRODUTOS</h2>
        </div>

         <!-- Hover Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Produtos cadastrados
                               <!-- <small>Add <code>.table-hover</code> to enable a hover state on table rows within 
                               a <code>&lt;tbody&gt;</code>.</small> -->
                            </h2>
                             <router-link to="/produtos/novo"> 
                                <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float float-right" title="Adicionar Dentista" >
                                    <i class="material-icons">add_circle</i>
                                </button>
                            </router-link>
                             
                            
                        </div>
                        <div class="body table-responsive table-produtos">
                            <table class="table table-hover" v-if="produtos.length">
                                <thead>
                                    <tr >
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Valor</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(produto,i) in produtos" :key="produto.id">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{produto.nome_produto}}</td>
                                        <td>R${{produto.valor_produto | mxFiltroFormatarMoney}}</td>
                                        <td>
                                            
                                            <button type="button" class="btn bg-grey waves-effect" title="Visualizar usuário" data-toggle="modal" data-target="#largeModal" 
                                            data-backdrop="static" data-keyboard="false" @click="openDetails(produto)">
                                                <i class="material-icons">remove_red_eye</i>
                                            </button>
                                            <router-link :to="'/produtos/editar/'+produto.id_produto"> 
                                               <button type="button" class="btn bg-light-blue waves-effect" title="Editar usuário">
                                                <i class="material-icons">mode_edit</i>
                                                </button>
                                            </router-link>
                                            
                                            <button type="button" class="btn bg-red waves-effect" title="Excluir usuário" @click="confirmarExclusao(produto)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                            <span v-else>
                                <h5>Nenhum produto cadastrado.</h5>
                            </span>

                            <Paginacao :page="page" :total_pages="total_pages" @pageMudou="paginar($event)"/>

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Hover Rows -->


            <!-- Large Size -->
            <div v-if="produto" class="modal fade" id="modal-detalhes" tabindex="-1" role="dialog">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-lg vertical-align-center" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel">Detalhes do Produto</h4>
                            </div>
                            <div class="modal-body">
                                    <Detalhes :produto="produto"/>
                            </div>
                            
                            
                            <div class="modal-footer">
                                
                                <button type="button" class="btn waves-effect btn-lg" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal exclusao -->
            <div class="modal fade" id="modal-confirmacao-exclusao" tabindex="-1" role="dialog">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-sm vertical-align-center" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel2">Confirmação de exclusão</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Tem certeza que deseja excluir esse produto? <br/> <br/> Esta ação não poderá ser desfeita! </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn waves-effect btn-danger btn-lg" @click="deleteProduto()">Excluir</button>
                                <button type="button" class="btn waves-effect btn-lg" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</template>

<script>
import Detalhes from '@/components/produtos/Detalhes'
import Paginacao from '@/components/widgets/Paginacao'
import MxFiltros from '@/filters/filters';

export default {
    name: 'Produto',
    components: {Detalhes, Paginacao},
    mixins: [MxFiltros],
    data: function(){
        return {
            produtos: [],
            produto: {
                categoria: {name: ''}
            },
            total: 0,
            page: 1,
            next_page: 1,
            per_page: 0,
            total_pages: 0,
        }
    },

    methods: {
        loadProdutos(){
            this.$http.get('/produtos?page='+this.next_page).then( res => {
                this.produtos = res.data.data
                this.setPararamsPaginate(res)
               
            })
        },
        confirmarExclusao(produto){
            this.produto = produto
            $('#modal-confirmacao-exclusao').modal('show')

        },

        deleteProduto(){
            this.$http.delete('/produtos/'+this.produto.id_produto).then( res => {
                $('#modal-confirmacao-exclusao').modal('hide')
                this.produto = {}
                this.next_page = 1
                this.loadProdutos()
                this.showMsgToast('Registro excluído com sucesso!', 'sucesso', 'top-center')
            }).catch((err) => {
                $('#modal-confirmacao-exclusao').modal('hide')
               this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
            })
        },

        showMsgToast(msg, type,  direcao = 'bottom-center'){
            let icone = (type == 'erro') ? 'warning' : 'check'
            this.$toasted.show(msg,{ 
                theme: "bubble", 
                position: direcao,
                icon : icone
            })
        },
        openDetails(produto){
            this.loadProduto(produto.id_produto);
             $('#modal-detalhes').modal('show')
        },
        loadProduto(id){
            this.$http.get('/produtos/'+id).then( res => {
                this.produto = res.data
            }).catch((err) => {
               this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
            })
        },
        setPararamsPaginate(res){
             this.total = res.data.total
             this.page = res.data.current_page
             this.per_page = res.data.per_page
             this.total_pages = Math.ceil(this.total / this.per_page)
             this.next_page = this.page + 1
        },
        paginar(page){
            if((page <= this.total_pages) && this.page >=1){
                this.next_page = page
                this.loadProdutos();
            }
            
        }

    },

    mounted: function(){
       this.loadProdutos()
    }
}
</script>

<style>
.table-produtos button{
    margin-right: 10px;
}
.table-produtos a{
    margin-right: 10px;
}

.header button{
    float: right;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

</style>