<template>
  <div class="container-fluid">
        <div class="block-header">
            <h2>Categorias > 
                <span v-if="mode == 'new'">Novo</span>
                <span v-else>Editar</span>
            </h2>
        </div>

         <!-- Hover Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2 v-if="mode == 'new'">
                                Novo cadastro
                            </h2>
                            <h2 v-else>
                                Edição de cadastro - {{categoria.nome_categoria}}
                            </h2>
                            
                            
                        </div>
                        <div class="body table-categorias">
                            <Alert v-if="isShowAlert" titulo="Atenção, verifique as informações abaixo:" :msgs="msgs"/>
                            <form>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="form-group">
                                                 <label class="form-label">Nome</label>
                                                <div class="form-line">
                                                    <input type="text" id="nome" required v-model="categoria.nome_categoria" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button" class="btn waves-effect btn-primary btn-lg" @click="save()">Salvar</button>
                                             <router-link to="/categorias"> 
                                                <button type="button" class="btn waves-effect btn-lg" data-dismiss="modal">Cancela</button>
                                            </router-link>
                                        </div>
                                    </div>
                                </form>

                          
                        </div>
                    </div>
                </div>
            </div>


  </div>
</template>

<script>

import Alert from '@/components/widgets/Alert'
export default {
    props: ['id'],
    name: 'Categoriaform',
    components: {Alert},
    data: function(){
        return {
            mode: 'new',
            categoria: {},
            isShowAlert: false,
            msgs: []
        }
    },

    methods:{
        loadCategoria(id){
            this.$http.get('/categorias/'+id).then( res => {
                
                if(!res.data){
                    this.$router.push('/categorias')
                }

                this.categoria = res.data
            }).catch((err) => {
               this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
            })
        },

        save(){

            
            this.isShowAlert = false
            this.msgs = []
            let method = (this.mode == 'new') ? 'post' : 'put'
            let id = (this.mode == 'new') ? '' : '/'+this.id
            
            console.log(id);
            let data = this.categoria;

            this.$http[method]('/categorias'+id, data)
            .then( res => {
                this.showMsgToast('Registro salvo com sucesso!', 'sucesso', 'top-center')
                this.$router.push('/categorias')

            }).catch((err) => {
                if(err.response.status == 422){
                    this.isShowAlert = true;
                    this.msgs = err.response.data.error
                    this.showMsgToast('Campos obrigatórios não informados', 'erro')
                }else{
                    this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
                }
            })
        },

        clearCategoria(){
            this.categoria = {}
        },

        showMsgToast(msg, type,  direcao = 'bottom-center'){
            let icone = (type == 'erro') ? 'warning' : 'check'
            this.$toasted.show(msg,{ 
                theme: "bubble", 
                position: direcao,
                icon : icone
            })
        }
    },

    mounted: function(){

        if(this.id){
          this.mode = 'edit'
          this.loadCategoria(this.id);
        }
        
    },


}
</script>

<style>
.table-categorias button{
    margin-right: 10px;
}

.header button{
    float: right;
}

</style>