<template>
  <div class="container-fluid">
        <div class="block-header">
            <h2>Categorias</h2>
        </div>

         <!-- Hover Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Categorias cadastradas
                               <!-- <small>Add <code>.table-hover</code> to enable a hover state on table rows within 
                               a <code>&lt;tbody&gt;</code>.</small> -->
                            </h2>
                             <router-link to="/categorias/novo"> 
                                <button type="button" class="btn btn-info btn-circle-lg waves-effect waves-circle waves-float float-right" title="Adicionar Categoria" >
                                    <i class="material-icons">add_circle</i>
                                </button>
                            </router-link>
                             
                            
                        </div>
                        <div class="body table-responsive table-categorias">
                            <table class="table table-hover" v-if="categorias.length">
                                <thead>
                                    <tr >
                                        <th>#</th>
                                        <th>Nome</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(categoria,i) in categorias" :key="categoria.id">
                                        <th scope="row">{{i + 1}}</th>
                                        <td>{{categoria.nome_categoria}}</td>
                                        <td>
                                            <router-link :to="'/categorias/editar/'+categoria.id_categoria_planejamento"> 
                                               <button type="button" class="btn bg-light-blue waves-effect" title="Editar usuário">
                                                <i class="material-icons">mode_edit</i>
                                                </button>
                                            </router-link>
                                            
                                            <button type="button" class="btn bg-red waves-effect" title="Excluir usuário" @click="confirmarExclusao(categoria)">
                                                <i class="material-icons">delete</i>
                                            </button>
                                        </td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                            <span v-else>
                                <h5>Nenhuma categoria cadastrada.</h5>
                            </span>

                            <Paginacao :page="page" :total_pages="total_pages" @pageMudou="paginar($event)"/>

                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Hover Rows -->



            <!-- Modal exclusao -->
            <div class="modal fade" id="modal-confirmacao-exclusao" tabindex="-1" role="dialog">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog modal-sm vertical-align-center" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="largeModalLabel2">Confirmação de exclusão</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Tem certeza que deseja excluir esta categoria? <br/> <br/> Esta ação não poderá ser desfeita! </h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn waves-effect btn-danger btn-lg" @click="deleteCategoria()">Excluir</button>
                                <button type="button" class="btn waves-effect btn-lg" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  </div>
</template>

<script>
import Detalhes from '@/components/categorias/Detalhes'
import Paginacao from '@/components/widgets/Paginacao'

export default {
    name: 'Categoria',
    components: {Detalhes, Paginacao},
    data: function(){
        return {
            categorias: [],
            categoria: { },
            total: 0,
            page: 1,
            next_page: 1,
            per_page: 0,
            total_pages: 0,
        }
    },

    methods: {
        loadCategorias(){
            console.log('loadCategorias')
            this.$http.get('/categorias?page='+this.next_page).then( res => {
                this.categorias = res.data.data
                this.setPararamsPaginate(res)
               
            })
        },
        confirmarExclusao(categoria){
            this.categoria = categoria
            $('#modal-confirmacao-exclusao').modal('show')

        },

        deleteCategoria(){
            this.$http.delete('/categorias/'+this.categoria.id_categoria_planejamento).then( res => {
                $('#modal-confirmacao-exclusao').modal('hide')
                this.categoria = {}
                this.next_page = 1
                this.loadCategorias()
                this.showMsgToast('Registro excluído com sucesso!', 'sucesso', 'top-center')
            }).catch((err) => {
                $('#modal-confirmacao-exclusao').modal('hide')
               if(err.response.status == 422){
                    this.msgs = err.response.data.error
                    this.showMsgToast(this.msgs, 'erro')
                }else{
                    this.showMsgToast('Erro inesperado! Tente novamente ou contate o suporte!', 'erro')
                }
            })
        },

        showMsgToast(msg, type,  direcao = 'bottom-center'){
            let icone = (type == 'erro') ? 'warning' : 'check'
            this.$toasted.show(msg,{ 
                theme: "bubble", 
                position: direcao,
                icon : icone
            })
        },
        
        setPararamsPaginate(res){
             this.total = res.data.total
             this.page = res.data.current_page
             this.per_page = res.data.per_page
             this.total_pages = Math.ceil(this.total / this.per_page)
             this.next_page = this.page + 1
        },
        paginar(page){
            if((page <= this.total_pages) && this.page >=1){
                this.next_page = page
                this.loadCategorias();
            }
            
        }

    },

    mounted: function(){
       this.loadCategorias()
    }
}
</script>

<style>
.table-categorias button{
    margin-right: 10px;
}
.table-categorias a{
    margin-right: 10px;
}

.header button{
    float: right;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

</style>